<!DOCTYPE html>
<html>

  <head>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>MarQet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Amin Diary - Aka: LeAmino">
    <meta name="keywords" content="Responsive, Template">
    <meta name="robots" content="all">
    <link href='../../css?family=Montserrat:400,700' rel='stylesheet' type='text/userAsset/css'>
    <link href='../../css-1?family=Raleway:400,300,500,600,700,800' rel='stylesheet' type='text/userAsset/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/userAsset/css/prettyPhoto.css">
    <link rel="stylesheet" href="/userAsset/css/animate.css">
    <link rel="stylesheet" href="/userAsset/css/owl.carousel.css">
    <link rel="stylesheet" href="/userAsset/css/owl.theme.css">
    <link rel="stylesheet" href="/userAsset/css/yamm.css">
    <link rel="stylesheet" href="/userAsset/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/userAsset/css/stylesheet.css">


    


    <!-- externely added -->
    <link rel="stylesheet" href="css/bootstrap-select.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    


  </head>

  <body>
